doctype html
html
  head
    title Admin Login
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/css/styles.css")
  body
    div.container
      h1 Login

      if successMessage
        div.alert.alert-success(role="alert")= successMessage
      if errorMessage
        div.alert.alert-danger(role="alert")= errorMessage

      form(action="/auth/login" method="POST")
        div.mb-3
          label(for="username") Username:
          input.form-control(type="text" name="username" id="username" placeholder="john" required)

        div.mb-3
          label(for="password") Password:
          input.form-control(type="password" name="password" id="password" placeholder="********" required)

        button.btn.btn-primary.login-btn(type="submit") Login

      p. 
        Don't have an account? #[a(href="/auth/register") Register now]
