/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #222121;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

.form-control {
  border: 1.5px solid #737272;
}

form .mb-3 {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 2px solid #737272;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

/* Button Styles */
.btn-edit {
  margin-right: 10px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

a.btn-edit:hover {
  text-decoration: none !important;
}

.btn-delete {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.btn-edit-save {
  margin-bottom: 10px;
}

.btn-logout {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;

}

.btn-danger:hover {
  background-color: #c82333;
  text-decoration: none;
}


.modal-footer {
  display: block !important;
}

/* Links */
a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}


/* Admin Panel */
.admin-container {
  max-width: 700px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.admin-header h1 {
  margin: 0;
}

.project-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.project-card h3 {
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #666;
}

.project-card a {
  color: #007bff;
  font-weight: bold;
}

.project-card a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container,
  .admin-container {
    max-width: 90%;
  }
}
